#Ammaar Khan

## Research question/interests

My research interest is: whether 'home team advantage' is reflected in the dataset and if so, how much does it factor into the outcome of the match (by number of goals)?

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

raw_data = pd.read_csv("../data/raw/WorldCupMatches.csv")
raw_data

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Milestone 3

### Task 1: EDA

Understanding my dataset:

As shown above in the raw dataset theres a lot of rows with Nan values that have been read into the dataframe for some reason. I will change that right at the start for a better analysis.

In [ ]:
raw_data = raw_data.dropna()

In [ ]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 850 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  850 non-null    float64
 1   Datetime              850 non-null    object
 2   Stage                 850 non-null    object
 3   Stadium               850 non-null    object
 4   City                  850 non-null    object
 5   Home Team Name        850 non-null    object
 6   Home Team Goals       850 non-null    float64
 7   Away Team Goals       850 non-null    float64
 8   Away Team Name        850 non-null    object
 9   Win conditions        850 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  850 non-null    float64
 12  Half-time Away Goals  850 non-null    float64
 13  Referee               850 non-null    object
 14  Assistant 1           850 non-null    object
 15  Assistant 2           850 non-null    object
 16  RoundID               850 non-null    float64
 17  MatchID               850 non-null    float64
 18  Home Team Initials    850 non-null    object
 19  Away Team Initials    850 non-null    object
dtypes: float64(8), object(12)
memory usage: 139.5+ KB

In [ ]:
raw_data.shape

(850, 20)

In [ ]:
raw_data.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [ ]:
raw_data.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
847,2014.0,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0.0,0.0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0.0,0.0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953.0,300186488.0,NED,CRC
848,2014.0,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1.0,7.0,Germany,,58141.0,0.0,5.0,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955.0,300186474.0,BRA,GER
849,2014.0,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0.0,0.0,Argentina,Argentina win on penalties (2 - 4),63267.0,0.0,0.0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955.0,300186490.0,NED,ARG
850,2014.0,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.0,3.0,Netherlands,,68034.0,0.0,2.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.0,300186502.0,BRA,NED
851,2014.0,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG

In [ ]:
raw_data.describe()

,Year,Home Team Goals,Away Team Goals,Attendance,Half-time Home Goals,Half-time Away Goals,RoundID,MatchID
count,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000,8.500000e+02,8.500000e+02
mean,1985.021176,1.810588,1.022353,45164.800000,0.710588,0.429412,1.068626e+07,6.078489e+07
std,22.431301,1.612125,1.088853,23485.249247,0.937885,0.691752,2.732359e+07,1.105805e+08
min,1930.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,2.010000e+02,2.500000e+01
25%,1970.000000,1.000000,0.000000,30000.000000,0.000000,0.000000,2.620000e+02,1.188250e+03
50%,1990.000000,2.000000,1.000000,41579.500000,0.000000,0.000000,3.370000e+02,2.184000e+03
75%,2002.000000,3.000000,2.000000,61374.500000,1.000000,1.000000,2.497220e+05,4.395006e+07
max,2014.000000,10.000000,7.000000,173850.000000,6.000000,5.000000,9.741060e+07,3.001865e+08

In [ ]:
raw_data.nunique()

Year                     20
Datetime                601
Stage                    23
Stadium                 181
City                    151
Home Team Name           78
Home Team Goals          11
Away Team Goals           7
Away Team Name           83
Win conditions           43
Attendance              622
Half-time Home Goals      7
Half-time Away Goals      6
Referee                 366
Assistant 1             387
Assistant 2             408
RoundID                 101
MatchID                 835
Home Team Initials       77
Away Team Initials       82
dtype: int64

In [ ]:
# cleaning my data set: removing the columns I don't require for my analysis
clean_data = raw_data.drop(['Stage', 'Stadium', 'City', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'], axis=1)
clean_data

,Year,Datetime,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name
0,1930.0,13 Jul 1930 - 15:00,France,4.0,1.0,Mexico
1,1930.0,13 Jul 1930 - 15:00,USA,3.0,0.0,Belgium
2,1930.0,14 Jul 1930 - 12:45,Yugoslavia,2.0,1.0,Brazil
3,1930.0,14 Jul 1930 - 14:50,Romania,3.0,1.0,Peru
4,1930.0,15 Jul 1930 - 16:00,Argentina,1.0,0.0,France
...,...,...,...,...,...,...
847,2014.0,05 Jul 2014 - 17:00,Netherlands,0.0,0.0,Costa Rica
848,2014.0,08 Jul 2014 - 17:00,Brazil,1.0,7.0,Germany
849,2014.0,09 Jul 2014 - 17:00,Netherlands,0.0,0.0,Argentina
850,2014.0,12 Jul 2014 - 17:00,Brazil,0.0,3.0,Netherlands
851,2014.0,13 Jul 2014 - 16:00,Germany,1.0,0.0,Argentina

In [ ]:
home_teams = raw_data['Home Team Name'].unique()
print(np.sort(home_teams))

['Algeria' 'Angola' 'Argentina' 'Australia' 'Austria' 'Belgium' 'Bolivia'
 'Brazil' 'Bulgaria' 'Cameroon' 'Canada' 'Chile' 'China PR' 'Colombia'
 'Costa Rica' 'Croatia' 'Cuba' 'Czech Republic' 'Czechoslovakia'
 "C�te d'Ivoire" 'Denmark' 'Ecuador' 'England' 'France' 'German DR'
 'Germany' 'Germany FR' 'Ghana' 'Greece' 'Haiti' 'Honduras' 'Hungary'
 'IR Iran' 'Iran' 'Iraq' 'Italy' 'Jamaica' 'Japan' 'Korea DPR'
 'Korea Republic' 'Mexico' 'Morocco' 'Netherlands' 'New Zealand' 'Nigeria'
 'Northern Ireland' 'Norway' 'Paraguay' 'Peru' 'Poland' 'Portugal'
 'Romania' 'Russia' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia'
 'Slovakia' 'Slovenia' 'South Africa' 'Soviet Union' 'Spain' 'Sweden'
 'Switzerland' 'Togo' 'Tunisia' 'Turkey' 'USA' 'Ukraine' 'Uruguay' 'Wales'
 'Yugoslavia' 'Zaire' 'rn">Bosnia and Herzegovina'
 'rn">Republic of Ireland' 'rn">Serbia and Montenegro'
 'rn">Trinidad and Tobago' 'rn">United Arab Emirates']

In [ ]:
away_teams = raw_data['Away Team Name'].unique()
print(np.sort(away_teams))

['Algeria' 'Angola' 'Argentina' 'Australia' 'Austria' 'Belgium' 'Bolivia'
 'Brazil' 'Bulgaria' 'Cameroon' 'Canada' 'Chile' 'China PR' 'Colombia'
 'Costa Rica' 'Croatia' 'Cuba' 'Czech Republic' 'Czechoslovakia'
 "C�te d'Ivoire" 'Denmark' 'Dutch East Indies' 'Ecuador' 'Egypt'
 'El Salvador' 'England' 'France' 'German DR' 'Germany' 'Germany FR'
 'Ghana' 'Greece' 'Haiti' 'Honduras' 'Hungary' 'IR Iran' 'Iran' 'Iraq'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Korea DPR' 'Korea Republic' 'Kuwait'
 'Mexico' 'Morocco' 'Netherlands' 'New Zealand' 'Nigeria'
 'Northern Ireland' 'Norway' 'Paraguay' 'Peru' 'Poland' 'Portugal'
 'Romania' 'Russia' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia'
 'Slovakia' 'Slovenia' 'South Africa' 'Soviet Union' 'Spain' 'Sweden'
 'Switzerland' 'Togo' 'Tunisia' 'Turkey' 'USA' 'Ukraine' 'Uruguay' 'Wales'
 'Yugoslavia' 'Zaire' 'rn">Bosnia and Herzegovina'
 'rn">Republic of Ireland' 'rn">Serbia and Montenegro'
 'rn">Trinidad and Tobago' 'rn">United Arab Emirates']