# Cherry Ho

## Research question/interests

Which country has the most golds when they are away teams?

In [ ]:
import project_functions2 as p2
df

       Winner
0       Italy
1     Uruguay
2     Germany
3      Brazil
4      Brazil
5      Brazil
6       Italy
7   Argentina
8     Germany
9      Brazil
10     Brazil
11      Italy
12      Spain
13    Germany

In [ ]:
df.to_csv('CleanedWorldCups(Analysis2).csv',index=False)

In [ ]:
df.value_counts(ascending=False)

Winner
Brazil       5
Germany      3
Italy        3
Argentina    1
Spain        1
Uruguay      1
dtype: int64

Here we can clearly see that Brazil wins the most cup (the legend is real after all.As someone who hating watching sports, I guess I learn sth new).