# Cherry Ho

## Research question/interests

- How many countries win as away teams?
- Which country has the most golds when they are away teams?

In [ ]:
import project_functions2 as p2

In [ ]:
raw=p2.pd.read_csv("../data/raw/WorldCups.csv")
raw.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [ ]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB

In [ ]:
raw.nunique()

Year              20
Country           15
Winner             9
Runners-Up        10
Third             14
Fourth            16
GoalsScored       17
QualifiedTeams     5
MatchesPlayed      9
Attendance        20
dtype: int64

In [ ]:
df = p2.load_and_process("../data/raw/WorldCups.csv")
df

       Winner
0       Italy
1     Uruguay
2     Germany
3      Brazil
4      Brazil
5      Brazil
6       Italy
7   Argentina
8     Germany
9      Brazil
10     Brazil
11      Italy
12      Spain
13    Germany

In [ ]:
df.to_csv('CleanedWorldCups(Analysis2).csv',index=False)

In [ ]:
df.value_counts(ascending=False)

Winner
Brazil       5
Germany      3
Italy        3
Argentina    1
Spain        1
Uruguay      1
dtype: int64

Here we can clearly see that Brazil wins the most cup (the legend is real after all.As someone who hating watching sports, I guess I learn sth new).