# Cherry Ho
Note to self: Remember EDA

## Research question/interests

Which country has the most golds when they are away teams?

Note to self: Be aware of the difference between Germany and Germany FR

In [ ]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.pylab as plt
import seaborn as sns
import missingno

# Load Dataframe

In [ ]:
df = pd.read_csv("../data/raw/WorldCups.csv")
df.info()
print(df.columns)

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            20 non-null     int64
 1   Country         20 non-null     object
 2   Winner          20 non-null     object
 3   Runners-Up      20 non-null     object
 4   Third           20 non-null     object
 5   Fourth          20 non-null     object
 6   GoalsScored     20 non-null     int64
 7   QualifiedTeams  20 non-null     int64
 8   MatchesPlayed   20 non-null     int64
 9   Attendance      20 non-null     object
dtypes: int64(4), object(6)
memory usage: 1.7+ KB
Index(['Year', 'Country', 'Winner', 'Runners-Up', 'Third', 'Fourth',
       'GoalsScored', 'QualifiedTeams', 'MatchesPlayed', 'Attendance'],
      dtype='object')

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363.000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

# Cleaning Dataframe
I decided to:
- Delete unneccessary information like the # of Goals Scored;
- Check if the winners are a home team and delete them (to make sure that every winner counted is a visiting team);
- Turn "Germany FR" to "Germany" to simplify the process (Sorry for historians striving for accuracy, but my sleep is more important);
- Delete the Hosting Countries to get a list of winners (The hosting countries and the year of the event aren't important for our analysis)

In [ ]:
#Preparing the lists and functions needed for chaining

DeleteList=['Year','Runners-Up','Third','Fourth','GoalsScored','QualifiedTeams','MatchesPlayed','Attendance']

def f(row):
    if row['Country'] in row['Winner']:
        val = False
    else:
        val = True
    return val

In [ ]:
df =df.drop(DeleteList, axis=1)

df["AwayTeam"]=df.apply(f, axis=1)
df.head()

       Country      Winner  AwayTeam
0      Uruguay     Uruguay     False
1        Italy       Italy     False
2       France       Italy      True
3       Brazil     Uruguay      True
4  Switzerland  Germany FR      True

In [ ]:
df = df.drop(df[df["AwayTeam"] == False].index).drop(["AwayTeam","Country"], axis=1).reset_index().drop("index", axis=1)
df.loc[df['Winner'] == "Germany FR", 'Winner'] = "Germany"
df

       Winner
0       Italy
1     Uruguay
2     Germany
3      Brazil
4      Brazil
5      Brazil
6       Italy
7   Argentina
8     Germany
9      Brazil
10     Brazil
11      Italy
12      Spain
13    Germany

In [ ]:
 df.to_csv('CleanedWorldCups.csv',index=False)

## Mile3 Task3

In [ ]:
for i in df.index:
    df.words.str.count(df["Winner"]=).sum()

Italy
Uruguay
Germany
Brazil
Brazil
Brazil
Italy
Argentina
Germany
Brazil
Brazil
Italy
Spain
Germany

In [ ]:
df.value_counts(ascending=False)

Winner
Brazil       5
Germany      3
Italy        3
Argentina    1
Spain        1
Uruguay      1
dtype: int64

Here we can clearly see that Brazil wins the most cup (the stereotype is true after all), but can we prove it with a graph?